.CardImg {
  margin: -10% -5% -5% 0;
  position: relative;
  overflow: hidden;
}

.CardImg img {
  position: relative;
  z-index: 2;
  max-width: 100%;
  height: auto;
  border: 0;
}

.CardAnimation {
  width: 100%;
  height: 100%;
  max-width: 73%;
  max-height: 54%;
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.CardAnimation video {
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: baseline;
}