.CardImg {
  margin: -10% -5% -5% 0;
  position: relative;
  overflow: hidden;
}

.CardImg img {
  position: relative;
  z-index: 2;
  max-width: 100%;
  height: auto;
  border: 0;
}

.WatchOnTvAnimation {
  width: 100%;
  height: 100%;
  max-width: 73%;
  max-height: 54%;
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.WatchOnTvAnimation video {
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: baseline;
}

.WatchOnDeviceAnimation {
  width: 100%;
  height: 100%;
  max-width: 63%;
  max-height: 47%;
  position: absolute;
  top: 34%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.WatchOnDeviceAnimation video {
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: baseline;
}